@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-background-color: #1f1c2c;
  --primary-color: #8feeff;
}

body {
  display: block;
}

.fix-button-text {
  margin-top: -2.5px;
}

.neg-outline {
  outline-offset: -1px;
}
